@page "/"

<PageTitle>GSD Minecraft Portal</PageTitle>

<p>
  <button type="button" @onclick="DownloadAsync">Download</button>
</p>

<p>
  <button type="button" @onclick="ExtractAsync">Extract</button>
</p>

<p>
  <a href="properties">Server Properties</a>
</p>

<p>
  <button type="button" @onclick="StartServer">Start Server</button>
  <button type="button" @onclick="StopServer">Stop Server</button>
</p>

<p>
  <input @bind-value="Command"/>
  <button type="button" @onclick="SendCommand">Send</button>
</p>

<p>
  @StatusMessage
</p>

<pre>
  @Output
</pre>