@page "/"

<PageTitle>GSD Minecraft Portal</PageTitle>

<p>
  <button type="button" @onclick="DownloadAsync">Download</button>
</p>

<p>
  <button type="button" @onclick="ExtractAsync">Extract</button>
</p>

<p>
  <button type="button" @onclick="StartServerAsync">Start Server</button>
</p>

<pre>
  @StatusMessage
</pre>