@page "/"

<PageTitle>GSD Minecraft Portal</PageTitle>

<p>Visit the <a href="https://minecraft.net/en-us/download/server/bedrock/" target="_blank">Minecraft Bedrock Server</a> website, agree to the End User License Agreement and Privacy policy, then right-click "DOWNLOAD" and select "Copy link address" and paste the link below to download the server.</p>

<p>
  
</p>

<div>
  <input @bind-value="DownloadUrl"/>
</div>

<div>
  <button type="button" @onclick="DownloadAsync">Download</button>
</div>

<p>
  @StatusMessage
</p>